.toc__collapsibleWrapper {
    overflow: hidden;
    opacity: 0;
    transition: height 0.4s ease, opacity 0.4s ease;
}

.toc__collapsibleWrapper.collapsible {

    opacity: 1;
}

.toc__collapsibleWrapper.collapsed {

    opacity: 0;

}

.toc__heading.toc__collapsibleHeading {
    cursor: pointer;
    position: relative;
}
.toc__heading.toc__collapsibleHeading:after{
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' fill='%23000000' version='1.1' id='Capa_1' width='800px' height='800px' viewBox='0 0 30.727 30.727' xml:space='preserve'%3E%3Cg%3E%3Cpath d='M29.994,10.183L15.363,24.812L0.733,10.184c-0.977-0.978-0.977-2.561,0-3.536c0.977-0.977,2.559-0.976,3.536,0 l11.095,11.093L26.461,6.647c0.977-0.976,2.559-0.976,3.535,0C30.971,7.624,30.971,9.206,29.994,10.183z'/%3E%3C/g%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    padding: 0.75rem;
    position: absolute;
    right: 0;
        transition: all 0.3s 
        ease;
        transform: rotate(180deg);
}
.toc__heading.toc__collapsibleHeading.collapsed:after{
    transform: rotate(0deg);
}