.tabs__wrapper {
    background-color: #fff;
    box-shadow: -1px 7px 14px 4px #ccc;
    display: inline-block;
    border-radius: 5px;
    margin: 2rem 0;
}

.settings__tab {
    display: flex;
    margin: 0;
}

.settings__tab .setting__tabItem {
    color: #333;
    padding: 1rem 2.5rem;
    font-size: 16px;
    pointer-events: all;
    cursor: pointer;
    background-color: #fafafa;
}

.settings__tab .setting__tabItem.active {
    background-color: #fff;
}

.settings__tab .setting__tabItem .setting_nav {
    color: #333;
    font-weight: 500;
    text-decoration: none;
}

.settings__tab .setting__tabItem .setting_nav:focus {
    outline: none;
    box-shadow: none;
}

.tabs__content {
    padding: 0 1rem 1rem;
}

.settings__content {
    display: none;
}

.settings__content.active {

    display: block;
}